@import url(https://fonts.google.com/specimen/Red+Hat+Display);
*{
    font-family: "red hat display";
    font-weight: 500px, 700px, 900px;
}

body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:100vw;
    height: 100vh;
    background-color: #E0E8FF;
}
.desktop-pattern{
    width:100vw ;
    height:437px;
}
.contentbox{
    width: 100vw;
    height:697px ;
    background-color: white;
    position: absolute;
    top:101.5px;
    left: 495px;
    border-radius: 15px;
    box-shadow: 1px 20px 20px rgb(204, 213, 216);
}
.order{
    width: 96px;
    height: 20px;
    position: absolute;
    left: 176px;
    top: 629px;
/* font-family: Red Hat Display; */
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 20px;
/* identical to box height */


color: #717FA6;
}
.payment{
    width: 354px;
    height: 50px;
    position: absolute;
    left: 48px;
    top: 548px; 
    color: white;
    background: #382AE1;
box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
border-radius: 11px;
}
.proceed{
    position: absolute;
    height: 20px;
width: 150px;
left: 102px;
top: 15px;
border-radius: nullpx;
/* font-family: Red Hat Display; */
font-style: normal;
font-weight: 900;
font-size: 15px;
line-height: 20px;
/* identical to box height */


color: #FFFFFF;
}
.annual-plan{
    width: 354px;
    height: 98px;
    position: absolute;
    left: 48px;
    top: 417px;  
    background-color: #F7F9FF;
    border-radius: 11px;
}
.plan-details{
    position: absolute; 
    height: 48px;
    width: 306px;
    left: 72px;
    top: 442px;
    display: flex;
    align-items: center;
    }
.image{position: absolute;
    height: 48px;
    width: 48px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}
.year-plan{
    position: absolute;
    height: 21px;
    width: 117.19047546386719px;
    left: 70px;
    top: 0px;
    border-radius: nullpx;
    

/* font-family: Red Hat Display; */
font-style: normal;
font-weight: 900;
font-size: 16px;
line-height: 21px;

color: #1F2E55;

}
.change{position: absolute;
height: 19px;
width: 52px;
left: 254px;
top: 15px;
/* font-family: Red Hat Display; */
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-decoration-line: underline;

color: #382AE1;
}
.plan-cost{position: absolute;
    height: 21px;
    width: 92px;
    left: 70px;
    top: 27px;
    border-radius: nullpx;
    /* font-family: Red Hat Display; */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    
    color: #717FA6;    

}
p{
    width: 354px;
    height: 78px;
    position: absolute;
    left:48px;
    top: 319px; 
    font-size: 16px;
    /* font-family: Red Hat Display; */
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* or 162% */

text-align: center;
}
.order-summary{
    width: 354px;
    height: 37px;
    position: absolute;
    left: 46px;
    top: 265px; 
    font-weight: bolder;
    /* font-family: Red Hat Display; */
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 37px;
text-align: center;

color: #1F2E55;
 
}
.hero{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}